.upper-header{
    background-color: rgba(32, 111, 62, 0.901);
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    color: white;
}

.nav-container{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    gap: 20px;
}